article .container {
    margin: 50px auto;
    width: 66%;
    height: 500px;
}

article .container>* {float: left;}

.space {width: 6%; height: inherit;}

.left-pic, .right-pic {
    height: inherit;
    width: 47%;
    box-sizing: border-box;
    position: relative;
    background-size: cover;
}

.left-pic {
	border: 7px solid rgba(92, 164, 169, 0.8);
}

.right-pic {
	border: 7px solid rgba(117, 216, 175, 0.8);
}

.about-me {
    height: 80px;
    box-sizing: border-box;
    display: none;
    color: white;
    text-align: center;
    padding-top: 15px;
}

.left-pic .about-me {background-color: rgba(111, 189, 195, 0.8);}
.right-pic .about-me {background-color: rgba(161, 237, 206, 0.8);}