/*coupon的水平滑動css*/
section {
	float:left;
	display:block;
	height:100%;
	padding:0;
	margin:0;
}

.horizon-prev, .horizon-next {
position: fixed;
top: 50%;
margin-top: -24px;
z-index: 9999;
}
.horizon-prev {
left: 20px;
}
.horizon-next {
right: 20px;
}
/*coupon的水平滑動end*/