article .container {
    margin: 50px auto;
    width: 62.5%;
    position: relative;
}

article .pic-bg, .midline{
    display: block;
    float: left;
    height: inherit;
}

article .pic-bg {
    width: 47%;
    background-color: rgba(237, 125, 49, 0.6);
}

article .left-pic, .right-pic {
  width: 361px;
  height: 361px;
  margin-top: 7px;
  margin-left: 7px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

article .left-pic span, .right-pic span {
    color: white;
    font-size: 150%;
    font-weight: lighter;
    padding: 2px;
    display: none;
    text-align: right;
    -webkit-filter: drop-shadow(3px 3px 5px rgba(74, 66, 83, 0.6));
}

article .left-pic:hover span, .right-pic:hover span {
    display: block;
}

article .midline {
    width: 6%;
}

article .the-line {
    width: 17%;
    height: inherit;
    background-color: #ed7d31;
    margin: auto;
}

article .circle {
    width: 12.5%;
    background-color: #ed7d31;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    text-align:center;
    cursor: pointer;
    -webkit-filter: drop-shadow(3px 3px 1px rgba(106, 55, 21, 0.6));
    filter: drop-shadow(3px 3px 1px rgba(106, 55, 21, 0.6));
}

article .circle img {
    width:40%;
    -webkit-filter: drop-shadow(3px 3px 1px rgba(106, 55, 21, 0.7));
    filter: drop-shadow(3px 3px 1px rgba(106, 55, 21, 0.7));
    vertical-align: middle;
}

article .circle:active {
    left: 50.3%;
    top: 50.3%;
    -webkit-filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));
    filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));
}

article .circle:active img {
    position: relative;
    top: 2px;
    left: 1px;
    -webkit-filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));
    filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));
}

.pic-bg p {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: absolute;
    top: 62%;
    width: inherit;
    padding: 5px;
    box-sizing: border-box;
}