#menu>div{float: right;}
#menu{
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -20%;
    z-index: 9999;
}

#menu-tab {
    width: 30px;
	position: relative;
    left: 30px;
    background-color: #ffcccc;
    opacity: 0.9;
    font-size: 70%;
    color: white;
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu-content{
    background-color: #ffcccc;
    opacity: 0.9;
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
}

#menu-content ul{
    padding-top: 50px;
    text-align: center;
    list-style: none;
}

#menu-content ul a{
    text-decoration: none;
    color: white;
    line-height: 3em;
    letter-spacing: 8px;
}