article .container {
    width: 60%;
    margin: 50px auto;
}

li{list-style: none;}

article .rank>li {
    margin-top: 25px;
    box-sizing: border-box;
    color: #4a4253;
    font-weight: bold;
    background-color: #F4F1BB;
    line-height: 50px;
    box-shadow: 4px 4px 10px rgba(72, 39, 17, 0.5);
    cursor: pointer;
}

article .rank>li:hover {
    position: relative;
    top: -5px;
    left: -5px;
}

article span{
    margin: auto 50px;
    font-size: 150%;
    font-weight: normal;
}

article .rank>:first-child{
    background-color: #ED6A5A;
    line-height: 100px;
    color: white;
}

article .rank>:first-child .icon-crown {width: 30px;}

article .rank>:nth-child(2){
    background-color: #458e93;
    line-height: 80px;
    color: white;
}

article .rank>:nth-child(3){
    background-color: #9BC1BC;
    line-height: 64px;
    color: white;
}

article .info {
    display: none;
    background-color: #E6EBE0;
    color: #4a4253;
    line-height: 2em;
    font-size: 70%;
    font-weight: normal;
    padding: 20px 50px;
}

article .info .icon {
    width: 20px;
    margin-right: 15px;
}