article .container {
    width: 60%;
    margin: 25px auto 50px auto;
}

a{text-decoration: none;}

article li {
    list-style: none;
    margin-top: 25px;
    height: 50px;
    box-sizing: border-box;
    padding-left: 30px;
    color: #4a4253;
    font-weight: bold;
    border-radius: 50px;
    background-color: #F4F1BB;
    line-height: 2.5em;
}

article span{margin-right: 35px;}

ul>:first-child li{
    background-color: #ED6A5A;
    height: 100px;
    line-height: 5em;
    color: white;
}

ul>:first-child li img {width: 30px;}

ul>:nth-child(2) li{
    background-color: #458e93;
    height: 80px;
    line-height: 4em;
    color: white;
}

ul>:nth-child(3) li{
    background-color: #9BC1BC;
    height: 64px;
    line-height: 3em;
    color: white;
}