*{margin: 0; padding: 0;}
html {
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
    font-size: 20px;
}
body {
    background: url(../images/background.jpg) center center fixed no-repeat;
    background-size: cover;
    background-color: #ffffcc;
}

header img {
    display:block;
    margin: auto;
    height:auto;
    width: auto;
    max-height: auto;
    max-width: 10%;
    margin-top:1%;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

article .container {
    width: 800px;
    height: 375px;
    position: relative;
}

article .container>* {
    display: block;
    float: left;
}

article img {
    width: 47%;
    height: inherit;
    border: solid 7px rgba(237, 125, 49, 0.6);
    box-sizing: border-box;
}

article .container>div {
    width: 6%;
    height: inherit;
}

article .midline {
    background-color: #ed7d31;
    width: 17%;
    height: inherit;
    margin: auto;
}

article .container>.or-circle {
    width: 100px;
    height: 100px;
    background-color: #ed7d31;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    margin-left: -50px;
    margin-top: -50px;
    line-height:100px;
    text-align:center;
    color: white;
    font-size: 300%;
}