*{margin: 0; padding: 0;}
html {
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
    font-size: 20px;
}
body {
    background: url(../images/background.jpg) center center fixed no-repeat;
    background-size: cover;
    background-color: #ffffcc;
}

header img {
    display:block;
    margin: auto;
    height:auto;
    width: auto;
    max-height: auto;
    max-width: 10%;
    margin-top:1%;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

/*coupon的水平滑動css*/
/*html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow:hidden;
}*/

section {
	float:left;
	display:block;
	height:100%;
	padding:0;
	margin:0;
}
/*
#section-section1 {
	background:#2c3e50;
}
#section-section2 {
	background:#16a085;
}
#section-section3 {
	background:#27ae60;
}
#section-section4 {
	background:#c0392b;
}*/

.horizon-prev, .horizon-next {
position: fixed;
top: 50%;
margin-top: -24px;
z-index: 9999;
}
.horizon-prev {
left: 20px;
}
.horizon-next {
right: 20px;
}
/*coupon的水平滑動end*/